@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.building-units-table {
  table-layout: auto;
  border-collapse: collapse;
}

.building-units-table tbody tr:hover td, 
.building-units-table tbody tr:hover th {
  background-color: $gray-100;
}

th, td {
  vertical-align: middle;
  height: 3rem;
  white-space: nowrap;
}

.table.building-units-table th {
  font-weight: 500;
}


th.sortable {
  &:hover {
    cursor: pointer;
  }
}

#address {
  font-weight: 500;
}

#coefficient, #builtArea {
  text-align: end;
}

button:disabled {
  border: 0 !important;
}

input:disabled, select:disabled {
  background-color:  $gray-100;
  cursor: not-allowed;
}