<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card border-0 rounded-5 shadow-lg my-5">
      <div class="card-body p-0 align-items">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 p-5 mx-lg-auto">
            <h3 class="text-center">Datos Presidente</h3>
            <h5 class="text-center my-5">Asegurate de ser el presidente</h5>
            <form
              [formGroup]="neighborForm"
              (ngSubmit)="onSubmit()"
              autocomplete="off"
              class="d-flex flex-column"
            >
              <!-- firstname -->
              <div class="form-floating">
                <input
                  type="text"
                  formControlName="firstname"
                  class="form-control my-3"
                  id="firstname"
                />
                <label for="firstname">Nombre</label>
                
                @if ( isNotValidField('firstname') ) {
                <div class="text-center text-sm-start">
                  <small class="text-danger mt-1">
                    Debe contener solo letras
                  </small>
                </div>
                }
              </div>
              <!-- surnames -->
              <div class="form-floating">
                <input
                  type="text"
                  formControlName="surnames"
                  class="form-control my-3"
                  id="surnames"
                />
                <label for="firstname">Apellidos</label>
                @if ( isNotValidField('surnames') ) {
                <div class="text-center text-sm-start">
                  <small class="text-danger mt-1">
                    Debe contener solo letras
                  </small>
                </div>
                }
              </div>
              <!-- email -->
              <div class="form-floating">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control my-3"
                  id="email"
                />
                <label for="email">Email</label>
                @if ( isNotValidField('email') ) {
                <div class="text-center text-sm-start">
                  <small class="text-danger mt-1">
                    El email no es válido
                  </small>
                </div>
                }
              </div>

              <div class="form-floating ">
                <input
                  type="tel"
                  formControlName="phoneNumber"
                  class="form-control my-3"
                  id="phoneNumber"
                />
                <label for="phoneNumber">Teléfono</label>
                @if ( isNotValidField('phoneNumber') ) {
                <div class="text-center text-sm-start">
                  <small class="text-danger mt-1">
                    Debe ser un teléfono español
                  </small>
                </div>
                }
              </div>

              <button
                type="submit"
                class="btn btn-primary text-center my-3"
                [routerLink]="['/auth/register']"
                [disabled]="neighborForm.invalid"
              >
                Siguiente
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
