<!-- Outer Row -->
<div class="card border-0 rounded-5 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-12 p-5">
        <h3 class="my-3">Datos Comunidad</h3>
        <h5 class="my-3">Registra tu comunidad</h5>
        <!-- Progressbar -->
        <div class="progress mb-3" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100" style="height: 4px">
          <div class="progress-bar bg-dark" style="width: 66%"></div>
        </div>

        <!-- Register Community -->
        <form [formGroup]="communityForm" (ngSubmit)="onSubmit()" autocomplete="off" class="row">
          <!-- street -->
          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <input type="text" formControlName="street" class="form-control" id="street" />
              <label for="street">Dirección</label>

              @if ( isNotValidField('street') ) {
              <div class="text-center text-sm-start">
                <small class="text-danger mt-1">
                  El campo debe ser informado
                </small>
              </div>
              }
            </div>
          </div>

          <!-- streetNumber -->
          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <input type="text" formControlName="streetNumber" class="form-control" id="streetNumber" />
              <label for="streetNumber">Número</label>

              @if ( isNotValidField('streetNumber') ) {
              <div class="text-center text-sm-start">
                <small class="text-danger mt-1">
                  El campo debe ser informado
                </small>
              </div>
              }
            </div>
          </div>

          <!-- postalCode -->
          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <input type="text" formControlName="postalCode" class="form-control" id="postalCode" />
              <label for="postalCode">Código postal</label>

              @if ( isNotValidField('postalCode') ) {
              <div class="text-center text-sm-start">
                <small class="text-danger mt-1">
                  Debe contener solo letras
                </small>
              </div>
              }
            </div>
          </div>

          <!-- subregion -->
          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <select class="form-select" formControlName='subregion' id="subregion" aria-label="Provincia"
                (change)="onSubregionChange($event)">
                <option value= null>-- Seleccione una provincia --</option>
                @for (subregion of subregions | keyvalue; track $index) {
                <option [value]="subregion.key">{{ subregion.value}}</option>
                }
              </select>
              <label for="floatingSelect">Provincia</label>
            </div>
          </div>

          <!-- city -->
          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <select class="form-select" formControlName='city' id="city" aria-label="Ciudad">
                <option value=null>-- Seleccione una población --</option>
                @for (city of citiesSignal(); track $index) {
                <option [value]="city.code">{{ city.name!}}</option>
                }
              </select>
              <label for="floatingSelect">Población</label>
            </div>
          </div>

          <div class="row justify-content-center d-flex">
            <div class="col-12 col-md-6 col-lg-4">
              <button type="submit" class="btn btn-primary text-center my-3 w-100" [disabled]="communityForm.invalid">
                Siguiente
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>