<!-- Outer Row -->
<div class="card border-0 shadow my-5">
  <div class="card-header d-flex flex-wrap align-items">
    <h5 class="me-auto my-auto py-2 font-weight-bold">Registrar Comunidad</h5>
  </div>
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-12 p-5">

        <!-- Register Community -->

        <form [formGroup]="communityForm" (ngSubmit)="onSubmit()" autocomplete="off" class="row">

          <!-- subregion -->

          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <select class="form-select" formControlName='subregion' id="subregion" aria-label="Provincia">
                <option value=null>-- Seleccione una provincia --</option>
                @for (subregion of subregions | keyvalue: keepOrder; track $index) {
                <option [value]="subregion.key">{{ subregion.value}}</option>
                }
              </select>
              <label for="subregion">Provincia</label>
            </div>
          </div>

          <!-- city -->

          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <select class="form-select" formControlName='city' id="city" aria-label="Ciudad">
                <option value=null>-- Seleccione una población --</option>
                @for (city of citiesSignal(); track $index) {
                <option [value]="city.code">{{ city.name!}}</option>
                }
              </select>
              <label for="city">Población</label>
            </div>
          </div>

          <!-- street -->

          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <input type="text" formControlName="street" class="form-control" id="street" />
              <label for="street">Calle</label>

              @if ( isNotValidField('street') ) {
              <div class="text-center text-sm-start">
                <small class="text-danger mt-1">
                  El campo debe ser informado
                </small>
              </div>
              }
            </div>
          </div>

          <!-- streetNumber -->

          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <input type="text" formControlName="streetNumber" class="form-control" id="streetNumber" />
              <label for="streetNumber">Número</label>

              @if ( isNotValidField('streetNumber') ) {
              <div class="text-center text-sm-start">
                <small class="text-danger mt-1">
                  El campo debe contener 5 dígitos
                </small>
              </div>
              }
            </div>
          </div>

          <!-- postalCode -->
           
          <div class="col-12 col-md-6 my-3">
            <div class="form-floating">
              <input type="text" formControlName="postalCode" class="form-control" id="postalCode" />
              <label for="postalCode">Código postal</label>

              @if ( isNotValidField('postalCode') ) {
              <div class="text-center text-sm-start">
                <small class="text-danger mt-1">
                  Debe ser un código postal válido
                </small>
              </div>
              }
            </div>
          </div>

          <div class="row justify-content-center d-flex">
            <div class="col-12 col-md-6 col-lg-4">
              <button type="submit" class="btn btn-primary text-center my-3 w-100" [disabled]="communityForm.invalid">
                Registrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
