<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="navigationBar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="navigationBar">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      @for (item of menuItems; track $index) {
      <li class="nav-item p-0" [routerLink]="[item.route]" routerlinkActive="active">
        <a class="nav-link" aria-current="page" href="#">
          <span class= "{{ item.icon }} me-3 fs-5"></span>
          {{ item.title }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>
