<div class="row p-3">
  <div class="col">
    <shared-top-bar></shared-top-bar>
    <div class="row d-flex">
      <!-- Catastro -->
      <div class="card mb-3 col-md-6 col-12">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/K4mSJ7kc0As/600x800" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Catastro</h5>
              <p class="card-text">
                El Catastro Inmobiliario es un registro administrativo dependiente del Ministerio de Hacienda y Función
                Pública en el que se describen los bienes inmuebles rústicos, urbanos y de características especiales.
                Está regulado por el Texto Refundido de la Ley del Catastro Inmobiliario. La inscripción en el mismo es
                obligatoria y gratuita.
              </p>
              <p class="card-text"><small class="text-body-secondary">Leer más</small></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Actas -->
      <div class="card mb-3 col-md-6 col-12">
        <div class="row g-0">
          <!-- <div class="col-md-4">
            <img src="https://source.unsplash.com/K4mSJ7kc0As/600x800" class="img-fluid rounded-start" alt="...">
          </div> -->
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">Actas</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatem tempore est sit quo. Ullam
                molestiae, vel at cum rem eligendi iusto porro iure voluptas ducimus omnis aperiam illum, ex tempore
                similique dicta, quia molestias mollitia labore debitis soluta enim? Temporibus, nemo illo.
              </p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
