<div class="row justify-content-center">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <h3 class="text-center my-5">Inicio de Sesión</h3>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
      autocomplete="off"
      class="d-flex flex-column"
    >
      <div>
        <input
          type="email"
          formControlName="email"
          class="form-control my-3"
          id="email"
          placeholder="Email"
        />
        @if ( isNotValidField('email') ) {
        <div class="text-center text-sm-start">
          <small class="text-danger mt-1"> Formato del email no válido  </small>
        </div>
        }
      </div>

      <div>
        <input
          type="password"
          formControlName="password"
          class="form-control my-3"
          id="password"
          placeholder="Contraseña"
        />
        @if ( isNotValidField('password') ) {
        <div class="text-center text-sm-start">
          <small class="text-danger mt-1"> Mínimo 8 carácteres </small>
        </div>
        }
      </div>

      <a class="small text-primary my-3"> ¿Necesitas ayuda? </a>
      <button type="submit" class="btn btn-primary text-center my-3">
        Iniciar Sesión
      </button>

      <a class="small text-secondary my-3">¿Eres nuevo en HeyPresi?</a>

      <button
        class="btn btn-light text-center my-3"
        [routerLink]="['/auth/register']"
      >
        Darse de alta
      </button>
    </form>
  </div>
</div>
