<div class="card border-0 rounded-5 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        <img id="successful-image" src="https://source.unsplash.com/oWTW-jNGl9I/600x800" alt="successful-image"
          class="rounded-start-5" />
      </div>
      <div class="col-md-6 p-5">
        <h3 class="text-center my-3">Usuario creado</h3>
        <h5 class="text-center text-md-start my-3">¡Bienvenido a la comunidad!</h5>
        <div class="progress mb-3 d-lg-none" role="progressbar" aria-label="Example 1px high" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100" style="height: 4px">
          <div class="progress-bar bg-dark" style="width: 100%"></div>
        </div>

        <div>
          <p class="lead">
            Hemos enviado el códgio de comunidad a tu correo electrónico.
          </p>

          <p class="lead">
            Puedes compartir el código con tus vecinos para que se unan a la comunidad.
          </p>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary text-center my-3 w-75">
            Compartir
          </button>
        </div>

        <div class="text-center">
          <a class="small text-primary my-3" [routerLink]="['/login']">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>