@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.communities-table {
  table-layout: auto;
  border-collapse: collapse;
}

.communities-table tbody tr:hover td, 
.communities-table tbody tr:hover th {
  background-color: $gray-100;
}

th, td {
  vertical-align: middle;
  height: 3rem;
  white-space: nowrap;
}

.table.communities-table th {
  font-weight: 500;
}

th.sortable {
  &:hover {
    cursor: pointer;
  }
}

th:first-child {
  width: 2rem;
}

td:first-child {
  font-weight: 500;
}
