.communities-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.communities-table-cell {
  border: 1px solid #e0e0e0;
  text-align: left;
  padding: 8px;
  white-space: wrap;
  word-break: keep-all;
}

th.sortable {
  &:hover {
    cursor: pointer;
  }
}
