<table class="table table-bordered w-100 communities-table">
  <thead class="table-light">
    <tr>
      @for (column of communityColumns; track $index) {
        <th class="communities-table-cell">{{column} |titlecase }</th>
        @if (isDescendingSorting(column)) {
          <i class="bi bi-arrow-down-short"></i>
        }
        @if (isAscendingSorting(column)) {
          <i class="bi bi-arrow-up-short"></i>
        }
      }
    </tr>
    <tr>
      @for (column of addressColumns; track $index) {
        <th class="communities-table-cell">{{column} |titlecase }</th>
        @if (isDescendingSorting(column)) {
        <i class="bi bi-arrow-down-short"></i>
      }
        @if (isAscendingSorting(column)) {
          <i class="bi bi-arrow-up-short"></i>
        }
      }
    </tr>
  </thead>
  <tbody>
    @for (community of communities; track $index) {
      <tr>
        @for (column of communityColumns; track $index) {
            <td class="communities-table-cell">{{community[column]}}</td>
          }
      
        @for (column of addressColumns; track $index) {
          <td class="communities-table-cell">{{community.address[column]}}</td>
        }
      </tr>
    }
  </tbody>
</table>
