<div class="card shadow my-5">
  <div class="card-header d-flex flex-wrap align-items">
    <h5 class="me-auto my-auto font-weight-bold">Comunidades</h5>
    <button class="btn btn-primary ms-auto my-auto" type="button" [routerLink]="['/communities', 'creation']"
      id="creation-button">
      <span class="bi bi-building-add me-1"></span>
      Crear
    </button>
  </div>
  @defer (when recordsLoaded) {
  <div class="card-body">
    <div class="table-responsive ">
      <communities-table></communities-table>
    </div>
  </div>
  <div>
        <div class="datatable-info">Viendo 1 de 10 de 57 registros</div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
          </ul>
        </nav>
      </div>
  } @placeholder {
  <shared-spinner />
  }

</div>