@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/variables';


table td {
  vertical-align: middle;
}


.btn-icon:hover {
  background-color: $light;
}

.communities-table tbody tr:hover td, 
.communities-table tbody tr:hover th {
  background-color: $gray-200;
}
