<div class="card shadow my-5">
  <div class="card-header d-flex flex-wrap align-items">
    <h4 class="me-auto my-auto font-weight-bold">Comunidades</h4>
  </div>
  @defer (when recordsLoaded) {
  <div class="card-body">
    <div class="row">
      <div class="col-1 justify-content-end d-flex">
        <button class="btn btn-primary mb-3" type="button" [routerLink]="['/communities', 'creation']"
          id="creation-button">
          <span class="bi bi-building-add me-1"></span>
          Crear Comunidad
        </button>
      </div>
    </div>
    
    <communities-table [communities]="communities" 
      (sortingEvent)="onSortingEvent($event)"
      (selectedCommunityChange)="onSelectedCommunityChange($event)"
    />
    
    <shared-paginator [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [currentPage]="currentPage"
      (pageSizeChanged)="onPageSizeChanged($event)" (pageChanged)="onPageChanged($event)"/>

    <shared-tabs [tabs]="tabs" (activatedTabChange)="onTabChanged($event)"></shared-tabs>
    
    @switch (selectedTabIndex) {
    @case (0) {
      @if(selectedCommunity()) {
        <building-units-tab [selectedCommunity]="selectedCommunity()"></building-units-tab>
      }
      @else {
        <div class="row">
          <div class="col my-3">
            <p>Ninguna comunidad seleccionada</p>
          </div>
        </div>
      }
    }
      @case (1) {
      <div class="row">
        <div class="col my-3">
          <p>Propietarios vista</p>
        </div>
      </div>
      }
    }
  </div>
  } @placeholder {
  <shared-spinner />
  }
</div>