@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/variables';

h5 {
  font-weight: bold;
}

#creation-button {
  width: 8.7rem;
}

table td {
  vertical-align: middle;
}


.btn-icon:hover {
  background-color: $light;

}
.table-bordered tbody tr:hover td, 
.table-bordered tbody tr:hover th {
  background-color: $gray-200;
}
