<div class="card shadow my-5">
  <div class="card-header d-flex flex-wrap align-items">
    <h5 class="me-auto my-auto font-weight-bold">Comunidades</h5>
  </div>
  @defer (when recordsLoaded) {
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div>
            <button class="btn btn-primary mb-3" type="button" [routerLink]="['/communities', 'creation']" id="creation-button">
              <span class="bi bi-building-add me-1"></span>
              Crear Comunidad
            </button>
          </div>
        </div>
      </div>
      <communities-table 
        [communities]="communities"
        (sortingEvent)="onSortingEvent($event)"
        >
      </communities-table>
      <shared-paginator 
        [itemsPerPage]="itemsPerPage" 
        [totalItems]="totalItems" 
        [currentPage]="currentPage"
        (pageSizeChanged)="onPageSizeChanged($event)"
        (pageChanged)="onPageChanged($event)"
        >
      </shared-paginator>
      <shared-tabs [tabs]="tabs" (activatedTabChange)="onTabChanged($event)"></shared-tabs>
      @switch (selectedTabIndex) {
        @case (0) {
          <div class="row">
            <div class="col my-3">
              <div class="row">
                <div class="col d-flex justify-content-end">
                  <button class="btn btn-primary mb-3" type="button" [routerLink]="['/communities', 'creation']"
                  id="creation-button">
                  <span class="bi bi-plus-lg me-1"></span>
                  Crear Inmueble
                </button>
                </div>
              </div>
              <building-units-table></building-units-table>
            </div>
          </div>
        }
        @case (1) {
          <div class="row">
            <div class="col my-3">
              <p>Propietarios vista</p>
            </div>
          </div>
        }
      }
    </div>
  } @placeholder {
    <shared-spinner />
  }
</div>